h2 {
  display: flex;
  justify-content: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2rem;
  max-width: 90%;
  margin: 2rem auto;
  padding-inline-start: 0;
}

@media (max-width: 32rem) {
  .products {
    padding: 3rem 1rem;
    grid-template-columns: auto;
  }
}
