.card {
  background-color: black;
  min-height: 15rem;
  width: 15rem;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
